/* UE 3 - CUSTOM CSS */

/* ALLGEMEIN*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
body {
    margin-top: 60px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    background-color: #EFEFEF;

}

h1, h2, h3 {
font-family: 'Roboto Slab', serif;
}
.navbar-header, .navbar .badge {
    background-color: #3F51B5;
}

.navbar button {
    margin-left: 15px;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-toggle {
    border-color: #ddd;
    background-color: #EFEFEF;
}

.nav>li {
    position: relative;
    display: block;
    background-color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: #757575;
}


.navbar-default .navbar-nav>li>a {
    color: black;
    }

#startpagination {
    text-align: center;}

/* SINGLE ARTICLE (Rainer)*/
/* PRODUCTINFO */


#singleproduct{
    background-color: darkgray;
    display: inline-block;
}

#articlebox{
    margin-top: 20px;
}

#productinfo{
    display:block;
    float:right;
    width: 66%;
    height: 150px;

}

#userinfo{
    width: 33%;
    float: left;
    text-align: center;
}

#sendrequest{
    float: right;
    margin-right: 15px;
    margin-top: 70px;
    margin-left: 30px;

}
/** "other things" */
#otherthings {
    display: inline-block;
    background-color: red;
}





/* HOME, SEARCH RESULTS (Phipsi) */



/*search*/
.input-group {
    margin-bottom: 20px;
}

/*thumbnail*/



.thumbnail {
    margin-right: 0px;
    margin-left: 0px;
}

.thumbnail h2 {
    font-size: 14px;
    font-weight: bold;
    padding: 9px;
    margin: 0px;
}

.thumbnail .col-xs-4, .thumbnail .col-xs-3{
    padding: 9px 9px 9px 9px;
}

.thumbnail .caption h3, .myh3 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}

.thumbnail .myh4 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: bold;
}


.thumbnail .description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.thumbnail img {
    width: 100%;
    height: 100%;
}

.description .text p{
    margin-bottom: 0px;
}

.description .product-data{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 12px;
}



.product-data .user{
    margin: 3px 10px 0px 0px;
}

.product-data .location{
    margin: 3px 0px 0px 0px;
}


.standard-space {
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 9px;
}

/* SEARCH RESULT*/
.just-text {
    display: flex;
    justify-content: center;
}
.just-text p{
    margin-bottom: 20px;
}

.search-result-None-text {
    display: flex;
    justify-content: center;
}
.search-result-None-text p{
	color: red;
    margin-bottom: 20px;
}

.search-result-None {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 350px;
  transform: translate(-50%, -50%);
}

/*PRODUCT DETAIL*/
.slideshow {
    padding: 0px 9px 0px 9px;
}

.border-left {
    border-left: 1px solid lightgrey;
}

.border-top {
    border-top: 1px solid lightgrey;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.user-info p{
    font-size: 12px;
    margin: 0px;
}

.offer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8px;
}

.offer .btn {
    white-space: normal;
    padding-left: 0px;
    padding-right: 0px;
}

/* PROFILE OTHER */
.user-photo {
    padding: 9px;
}

.user-data {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
}

.user-data .years {
    margin-top: 15px;
    font-size: 20px;
}

.border-container {
    margin: 360px 15px 0px 15px;
}

/*PROFILE OWN*/
.your-things {
    margin-top: 20px;
}

/*http://stackoverflow.com/questions/35647044/boostrap-how-to-stick-a-button-over-an-image-when-re-sizing*/
.img-wrapper {
    position: relative;
}
.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 80%;
}

/* REQUESTS */

.requestbuttons {
    float: right;
    margin: 15px 9px 10px 0;
}


#gotostart {
    color: black;
}

.centerpls{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: white;
    background-color: transparent;
}

#addimg {
   height: 100%;
}

#addimg .glyphicon-camera {
    font-size: 48px;
}

#beschreibung {
    height: 75px;
    margin-top: 9px;
    margin-bottom: 9px;
}

.newfoto {
    margin-left: 15px;
    margin-bottom: -5px;
}

#bezform {
    margin-bottom: 15px;
    margin-top: 9px;
}


.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 5px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    margin-left: 15px;
}

.radio {
    margin-left: 6px;
    margin-top: 0px;
}

.radio-bottom-margin {
    margin-bottom: 60px;
}


a.navbar-brand {
    font-size: 0px;
}

a.navbar-brand::after {
    content: "Spare";
    font-weight: bold;
    font-size: 18px;

}