/* OVERLAY CSS */

body{
	overflow-x: hidden;
	overflow-y: hidden!important;

}
#matchoverlay {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 1100;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
}

#round-button{
	border-radius: 50%;
	width: 200px;
	height:200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

#round-button span.glyphicon {
	text-align: center;
        vertical-align: middle;
	font-size: 110px;
	line-height: 200px;
	color: black;

}

#matchoverlay span {
	display: inline-block;
	color: white;
}

#matchoverlay h3 {
	margin-top: 25px;
	margin-bottom: 25px;
}

#message {
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 60px;
}

#matchoverlay button span{
	color: black;
}

.bunt {
	background-color: #00BCD4;
}

#newimg {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	opacity: 1;
	z-index: 2000;
}

button a {
	color: white;
}
